.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px;
}

nav {
	display: flex;
	align-items: center;
	gap: 80px;
}

.nav-icon {
	display: flex;
	flex-wrap: wrap;
	width: 40px;
	gap: 5px;
	background-color: white;
	padding: 5px 4px;
	border-radius: 5px;
	display: none;
}

.nav-icon span {
	height: 4px;
	width: 100%;
	background-color: black;
	border-radius: 10px;
}

.nav-list {
	display: flex;
	gap: 40px;
	list-style: none;
	align-items: center;
}

.nav-list li {
	transition: 0.2s all;
	padding: 15px 5px;
	border-bottom: 3px solid transparent;
}
.nav-list li:hover {
	border-bottom-color: salmon;
}
.nav-list li:hover a {
	color: salmon;
}

.nav-link {
	color: black;
	font-size: 18px;
}

.cta-btn {
	background-color: salmon;
	color: white;
	border-radius: 8px;
	padding: 12px 24px;
	border: none;
}

@media (max-width: 991px) {
	nav {
		position: relative;
	}
	.nav-icon {
		display: flex;
	}
	.nav-list {
		opacity: 0;
		flex-direction: column;
		gap: 5px;
		position: absolute;
		top: 32px;
		right: -2px;
		background-color: white;
		padding: 10px;
		width: 150px;
		border-radius: 10px;
		display: flex;
		transition: 0.3s all;
	}

	.nav-list.active {
		opacity: 1;
	}

	.nav-list li {
		padding: 8px 2px;
	}
	.cta-btn {
		font-size: 12px;
	}
}

.hero-section {
	background-color: blanchedalmond;
	position: relative;
}

.hero-section::after {
	content: '';
	position: absolute;
	bottom: -60px;
	left: 0;
	width: 100%;
	height: 400px;
	transform: skewY(4deg);
	z-index: -10;
	background-color: blanchedalmond;
}

.hero-container {
	display: flex;
	padding: 20px;
}

.hero-text {
	width: 50%;
	padding: 0 20px;
}

.hero-text h1 {
	font-size: 70px;
	line-height: 0.8;
}

.hero-bold-text {
	margin-bottom: 20px;
	font-size: 20px;
}

.hero-text p:last-of-type {
	font-size: 18px;
	line-height: 1.5;
	color: #333;
	padding-right: 80px;
}

.arrow {
	margin-top: 50px;
	padding-left: 20px;
	animation: 1s linear infinite alternate arrow;
}
.arrow span {
	font-size: 50px;
}

.hero-img {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-img img {
	max-width: 80%;
}

@keyframes arrow {
	0% {
		transform: translateY(15px);
	}
	25% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(30px);
	}
	75% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(15px);
	}
}

@media (max-width: 991px) {
	.hero-text {
		width: 100%;
	}
	.hero-img {
		display: none;
	}
}

.services {
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	margin: 0 auto;
}

.service {
	display: flex;
	/* align-items: center; */
}

.check-icon {
	width: 30px;
	height: 30px;
	border: 2px solid #444;
	border-radius: 50%;
	margin-right: 20px;
}
